@page
@model ScrumBoard.Pages.Teams.AddMemberModel
@{
    ViewData["Title"] = "Add a new Member";
}


<h1>Tilføj et nyt Gruppemedlem</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label>Navn</label>
                <input type="text" asp-for="@Model.TeamMember.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" asp-for="@Model.TeamMember.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label>Role</label>
                <select id="TeamMember.Role" name="TeamMember.Role" asp-for="TeamMember.Role" class="form-control">
                    <option value="Member">Member</option>
                    <option value="ScrumMaster">ScrumMaster</option>
                </select>
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="Tilføj Medlem" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<a href="./" class="btn-link"> Tilbage Til Medlems listen</a>
